<h4>Please Log In...</h4>

<%= form_tag '/sessions', method: :post do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "Log In" %>
<% end %>

<%= button_to 'SIGN UP', "/users/new", method: "get", class: 'btn btn-info btn-block' %>
