
<div class="text-center text-info">

<h1>Sign Up</h1>

</div>

<div class="create_new_user text-center">

<%= form_for @user do |f| %>
<p class="text-primary">

    <%= f.label :username, "Username"%>
    <br>
    <%= f.text_field :username%>

</p>

<p class="text-primary">

    <%= f.label :password, "Password"%>
    <br>
    <%= f.password_field :password%>

</p>

<p class="text-primary">

    <%= f.label :password_confirmation, "Confirm Password"%>
    <br>
    <%= f.password_field :password_confirmation%>

</p>
<br>
<br>
    <%= f.submit%>

<%end%>

</div>

</div>
