<h1>Welcome to Streatery</h1>
 <% @foodtrucks.each do |foodtruck| %>

  <div>
  <h2><a href="/foodtrucks/<%= foodtruck.id %>"><%= foodtruck.name %></a></h2>

 <img src="<%= foodtruck.img_url %>" alt="">
  <p>Cuisine: <%= foodtruck.cuisine %></p>
  <p>Card: <%= foodtruck.card %></p>
  <p>Menu: <%= foodtruck.menu %></p>
</div>


<%= button_to 'Remove', "/foodtrucks/#{foodtruck.id}", method: "delete" %>

<% end %>
