
<div class="text-center">

  <h1 class="text-primary"><%= @foodtruck.name %></h1>

</div>


    <img src="<%= @foodtruck.img_url %>", width="400", height="300", class="center-block img-rounded", >


  <%= render partial: 'messages/form' %>
<div class="text-center">

        <% @foodtruck.messages.each do |message| %>
        <p><%= message.body %></p>
        <% end %>
</div>


<br>
<br>
<br>
<br>



  <%= render partial: 'reviews/form' %>

        <% @foodtruck.reviews.each do |review| %>
        <p><%= review.author %></p>
        <p><%= review.rating %></p>
        <p><%= review.message %></p>
        <% end %>

<br>
<br>

<div id=buttons_view, class="text-center">

    <button class="btn btn-default btn-lg" <h3><a href="/foodtrucks">View All</a></h3></button>

</div>
<br>
<div id=button_edit, class="text-center">

    <button class="btn btn-default btn-lg", <h3><%= link_to "Edit Streatery", edit_foodtruck_path(@foodtruck) %></h3></button>

</div>
<br>
<br>
